<footer class="footer">
  <p>
    Current commit:
    <a target="_blank" href="https://github.com/Maganoos/magkari-eu/commit/{{ data.longHash }}">
      {{ data.shortHash }}
    </a>
  </p>
  <p>&copy; {{ data.year }} Maganoos</p>
</footer>
