{% if collections.posts and collections.posts.length > 0 %}
  <div class="posts">
    {% for post in collections.posts %}
      {% if post.url != page.url %}
        <a href="{{ post.url }}" class="post-card">
          <h2 class="post-card-title">{{ post.data.title }}</h2>

          {% if post.data.description %}
            <p class="post-card-description">{{ post.data.description }}</p>
          {% endif %}

          <p class="post-card-meta">
            <time datetime="{{ post.date }}">
              {{ post.date | displayDate }}
            </time>
          </p>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
