@font-face {
    font-family: "Open Sans";
    src: url("/font/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("/font/OpenSans-Italic-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-display: swap;
}

body {
    color: #ddd;
    font-size: 16px;
    background-color: #333;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #ddd;
}

.icons > a > svg {
    height: auto;
    width: 30px;
    fill: #ddd;
    margin-left: 5px;
    margin-right: 5px;
}

a.nukeDeco {
    text-decoration: none;
}

.icons {
    gap: 10px;
    align-items: center;
}
