---
layout: base.njk
title: Magnus
description: those who snow
---

<p>Check out my projects:</p>

<div class="icons">
  <a
    href="https://codeberg.org/Maganoos"
    target="_blank"
    class="nukeDeco"
    aria-label="Codeberg"
  >
    {% icon "simple-icons:codeberg" %}
  </a>

  <a
    href="https://modrinth.com/user/Maganoos"
    target="_blank"
    class="nukeDeco"
    aria-label="Modrinth"
  >
    {% icon "simple-icons:modrinth" %}
  </a>

  <a
    href="https://github.com/Maganoos"
    target="_blank"
    class="nukeDeco"
    aria-label="GitHub"
  >
    {% icon "simple-icons:github" %}
  </a>
</div>
<br>
<p>Or read <a href="/posts/">my blog posts</a>.</p>

<p>Or reach out at:</p>

<a href="mailto:contact@magkari.eu">
  <code>contact@magkari.eu</code>
</a>
