---
layout: base.njk
title: Posts
description: All posts
permalink: /posts/
---

<div class="posts-header">
  <a href="/" class="back-link">← Home</a>
  <h1>Posts</h1>
  <h3><a href="/posts/feed.xml">Subscribe using your favourite Atom reader.</a></h3>
</div>

{% include "posts-feed.njk" %}
